* {
    box-sizing: border-box;
  }

 body {
    font-family: 'Roboto', sans-serif;


 }
 .mr-auto, 
 .navbar-nav {
    flex: 1;
    margin-right: 10% !important; 
    display: flex;
    justify-content: flex-end;
    
}

.dropdown-menu.contact-links {
    display: inline-block;
    align-items: center;
}


.forms {
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}



.contents {
    height: auto;
}
input[type=search] {
    width: 475px;
    padding: 14px;
    outline: none;
    border-radius: 20px;
    border-color: transparent;
}
input[type=search]:focus {
    border-radius: 55px;
background: #e0e0e0;
box-shadow:  22px 22px 94px #ffffff,
             -22px -22px 94px #ffffff
}


.nav-item a {
    color: black;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
}
#joinb {
    color: white;
    border: 1px solid transparent;
    background-color: black;
    border-radius: 20px;
    
}
#joinb:hover {
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.1s
    
}

#banner-img {
    background: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.adjust{
    background-color: #6b705c !important;
    
}

.navii {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10%;
    padding-bottom: 0;
    border-bottom: 0.2px solid black;
}
.navii-list {
    list-style: none;
}
.navii-list li {
    display: inline-block;
    padding: 10px 20px;
    
}
.navii-list li a {
    color: rgb(73, 68, 68);
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 0;
}
.navii-list li a:hover {
   color: blue;
}
.active {
    color: blue !important;
    border-bottom: 3px solid blue !important;
}
.row {
    margin-bottom: 30px;
}

.free {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

@media(max-width: 760px) {
    .navii {
        justify-content: space-evenly;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        }
         .navii-list li {
        padding: 5px;
    }
    .img-fluid {
        margin-top: 10px;
    }
    .challenges {
        display: none;
        visibility: 0;
    }
}

@media(max-width: 576px) {
    .forms, 
    input[type=search]{
        padding-left: 12px;
        padding-right: 12px;
        box-shadow: 0;
       
    }
}
@media(max-width: 670px) {
    input[type=search] {
        width: 290px;
    }
}
