* {
    box-sizing: border-box;
  }

 body {
    font-family: 'Roboto', sans-serif;


 }
 .mr-auto, 
 .navbar-nav {
    flex: 1;
    margin-right: 10% !important; 
    display: flex;
    justify-content: flex-end;
    
}

.dropdown-menu.contact-links {
    display: inline-block;
    align-items: center;
}


.forms {
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}

#joinb {
    
}


.contents {
    height: 450px;
}
input[type=search] {
    width: 475px;
    padding: 14px;
    outline: none;
    border-radius: 20px;
    border-color: transparent;
}
input[type=search]:focus {
    border-radius: 55px;
background: #e0e0e0;
box-shadow:  22px 22px 94px #ffffff,
             -22px -22px 94px #ffffff
}


.nav-item a {
    color: black;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
}
#joinb {
    color: white;
    border: 1px solid transparent;
    background-color: black;
    border-radius: 20px;
    
}
#joinb:hover {
    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.1s
    
}

#banner-img {
    background: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
@media(max-width: 576px) {
    .forms, 
    input[type=search]{
        padding-left: 12px;
        padding-right: 12px;
        box-shadow: 0;
       
    }
}
@media(max-width: 670px) {
    input[type=search] {
        width: 290px;
    }
}